@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/*Utility Classes*/
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #43bebd;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #43bebd;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem ;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #43bebd;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.py-1 {padding: 1.5rem;}
.py-2 {padding: 2rem;}
.py-3 {padding: 3rem;}

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.btn:hover {
  /* background: #7ab436; */
   background: #2e8685; 
}

.btn-dark {
  background: #333;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top:0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  /* background: #43bebd; */
  background: #43bebd; 
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #333 url(../img/edgeledger1.jpg) no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;  /*display:flex aligns content horizontally*/
  text-align: center;     /*aligns text to center*/
  justify-content: center;
  align-items: center;  /*aligns items to center when the height is specified*/
  height: 100%;   /*Height is needed to be specified for align-items(line-66)*/
  padding: 0 2rem;
  /* Overlay */
  position: absolute; /*To cover entire showcase content, provides scrollbar if needed*/
  top: 65px; /*Size of navbar*/
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);  /*a if for transparency (1 being not transparent and 0 being fully transparent) || if opacity is added to blur background, it blurs the text too.*/
}

/* Section: What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #43bebd;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Section: Who We Are */
#who {
  display: flex;
}

#who div {    /*applies to any div under who section*/
  flex: 1;
  flex-basis: 50%; /*flex-basis is used to set the initial size of a flex item.*/
} 

#who .who-img {
  background: url('../img/people.jpg') no-repeat center center/cover;
}

/* Section: Clients */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto; /*aligns imgs to center*/
  width: 60%;
}

/* Section:contact */
#contact {
  display: flex;
}

#contact .map, #contact .contact-form {
  flex: 1;
  /* flex-basis: 50%; */
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

